[submodule "SubModules/entt"]
	path = SubModules/entt
	url = https://github.com/skypjack/entt
[submodule "SubModules/glm"]
	path = SubModules/glm
	url = https://github.com/g-truc/glm
[submodule "SubModules/Yaml"]
	path = SubModules/Yaml
	url = https://github.com/TommyP844/yaml-cpp
	ignore = untracked
[submodule "SubModules/glfw"]
	path = SubModules/glfw
	url = https://github.com/TommyP844/glfw
[submodule "SubModules/stb"]
	path = SubModules/stb
	url = https://github.com/nothings/stb.git
[submodule "SubModules/Assimp"]
	path = SubModules/Assimp
	url = https://github.com/TommyP844/assimp
[submodule "SubModules/Imgui/Imgui"]
	path = SubModules/Imgui/Imgui
	url = git@github.com:TommyP844/imgui.git
	branch = docking
