[submodule "SubModules/DiligentEngine"]
	path = SubModules/DiligentEngine
	url = https://github.com/DiligentGraphics/DiligentEngine.git
[submodule "SubModules/entt"]
	path = SubModules/entt
	url = https://github.com/skypjack/entt
[submodule "SubModules/glm"]
	path = SubModules/glm
	url = https://github.com/g-truc/glm
[submodule "SubModules/yaml-cpp"]
	path = SubModules/yaml-cpp
	url = https://github.com/TommyP844/yaml-cpp
[submodule "SubModules/glfw"]
	path = SubModules/glfw
	url = https://github.com/TommyP844/glfw
[submodule "SuModules/stb"]
	path = SuModules/stb
	url = https://github.com/nothings/stb
[submodule "SubModules/stb"]
	path = SubModules/stb
	url = https://github.com/nothings/stb
[submodule "SubModules/tinyfd"]
	path = SubModules/tinyfd
	url = https://github.com/native-toolkit/libtinyfiledialogs
[submodule "SubModules/gltf"]
	path = SubModules/gltf
	url = https://github.com/syoyo/tinygltf
[submodule "SubModules/imgui"]
	path = SubModules/imgui
	url = https://github.com/ocornut/imgui/
	branch = docking
